@model Produkt

<form asp-controller="Produkt" asp-action="Uprav" method="post">

	<div class="form-group">
		<label asp-for="Typ"></label>
		<input asp-for="Typ" class="form-control" />
		<span asp-validation-for="Typ" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Opis"></label>
		<input asp-for="Opis" class="form-control" />
		<span asp-validation-for="Opis" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Plosne_materialy"></label>
		<input type="hidden" value="@Model.Plosne_materialy" asp-for="Plosne_materialy" class="form-control" />
	</div>

	<div class="form-group">
		<label asp-for="Obrazok"></label>
		<input asp-for="Obrazok" class="form-control" />
		<span asp-validation-for="Obrazok" class="text-danger"></span>
	</div>


	<button id="btnUpravitProdukt" type="submit" class="btn btn-primary">Upravit dáta</button>
</form>


